set-skin-namespace('islands')

.checkbox_islands
    kind: block inline
    skin: checkbox

    &__control
        kind: hidden visually


    &._checked
        .checkbox_islands
            &__tip
                skin: checkbox-icon
