set-skin-namespace('islands')

.checkbox_islands
    kind: block inline
    skin: checkbox

    .checkbox
        &__control
            kind: hidden visually


    &._checked
        .checkbox__tip
            skin: checkbox-icon
