.header_islands
    $height = 40px
    $arrow-width = 658px

    kind: block
    min-width: 645px
    padding:  14px 20px
    background: #fff
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15)
    height: $height

    &__logo
        display: inline-block
        width: 82px
        height: 34px
        outline: none
        vertical-align: inherit
        background-size: 100%
        background-position: center 0
        background-repeat: no-repeat
        background-image: url('logo.svg')
        margin-right: 20px

    &__left
        kind: block inline
        vertical-align: middle
        line-height: 1

    &__action
        color: #000
        margin-right: 20px

    &__actions
        kind: block inline
        padding-top: 9px
        vertical-align: top
        margin-left: 25px
