set-skin-namespace('islands')

.tabs_islands
    padding: 0;
    kind: block
    skin: tabs

    &__item
        reset('li');
        kind: block inline

    &__text
        skin: tabs-item
        kind: block

    &__item._selected
        skin: tabs-item_selected

        .tabs_islands
            &__text
                color: #000
                cursor: default




