set-skin-namespace('islands')

.tabs_islands
    padding: 0;
    kind: block
    skin: tabs

    .tabs__item
        /*reset('li');*/
        kind: block inline

    .tabs__text
        skin: tabs-item
        kind: block

    .tabs__item._selected
        skin: tabs-item_selected

        .tabs__text
            color: #000
            cursor: default




